/* Footnote Indicator in Gutter */
.footnote-link:not(.footnote-backref)::BEFORE,
.cm-s-obsidian span.cm-footref.cm-formatting::BEFORE {
    content: "⦿";

    font-size: 1rem;
    line-height: 1rem;

    color: var(--text-muted);
    background-color: var(--background-primary);

    position: absolute;
    left: 15px;

    padding: 0 3px;
    margin-top: 3px;
}

.cm-hmd-barelink:not(.cm-formatting-link) + .cm-footref.cm-formatting::BEFORE {
    display: none;
}
